:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --primary: #00ff41;
  --bg-dark: #0d0208;
  --bg-card: #1a1a1a;
  --text-primary: #00ff41;
  --text-secondary: #808080;
  --border: #2a2a2a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes customBounce {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6.4px);
  }

  90% {
    transform: translateY(-6.4px);
  }
}

@keyframes customBlinking {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark);
}

#title {
  margin-top: 1rem;
}

#subtitle {
  margin-top: 1rem;
}

.source,
.target {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 0 8px 32px rgba(5, 236, 63, 0.347);
  > h2 {
    margin-bottom: 0.5rem;
  }
}

.source {
  margin-top: 1rem;
}

.target {
  margin: 0.5rem 0 1rem 0;
}

.source:hover,
.target:hover {
  border: 1px solid var(--primary);
}

button {
  border-radius: 12px;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
  font-weight: bolder;
}

button:hover {
  color: var(--primary);
  background-color: black;
  box-shadow: 0 6px 24px rgba(0, 255, 65, 0.4);
}

button:active {
  color: black;
  background-color: white;
}

.button-group {
  button:nth-child(2) {
    margin: 0 0.5rem;
  }
}

input::placeholder {
  color: black;
  font-weight: bolder;
}

.language-choice {
  margin-top: 0.5rem;
  padding: 8px;
  border: 2px solid;
  border-color: var(--primary);
  border-radius: 12px;
  font-size: 16px;
  background-color: var(--primary);
  color: black;
}

.language-choice:hover {
  color: var(--primary);
  background-color: black;
}

.language-choice:hover::placeholder,
.language-choice:focus::placeholder {
  color: var(--primary);
}

.language-choice:focus {
  outline: none;
  border-color: var(--primary);
  /* font-weight: bolder; */
}

#auto-button {
  margin-bottom: 0.5rem;
}

.arrow-divider {
  font-size: 2rem;
  font-weight: 300;
  color: var(--primary);
  margin: 1rem 0;
  animation: customBounce 10s linear 0s infinite normal none;
  cursor: default;
}

h1 {
  color: var(--text-primary);
  cursor: default;
}

h2 {
  color: var(--text-secondary);
  font-size: small;
  cursor: default;
}
